
module.exports = {
    publicDir: 'public',
    staticDir: 'public/static'
    //jsStaticDir: 'public/static/appname/js',
    //cssStaticDir: 'public/static/appname/css',
    //assetStaticDir: 'public/static/appname/pics'
};

