
// http://compass-style.org/reference/compass/support/
$support-for-original-webkit-gradients : false;
$experimental-support-for-opera : false;
$experimental-support-for-khtml : false;

//$moui_text_color: #000000;
//$moui_desc_color: #969696;

